<style type="text/css">
	div {
	font-family: arial;
	}
	.invoice-header{
		color:red;
		background:white;
		margin-bottom:20px;
		display:block;
	}

	.col {
		display: inline-block;
		width:100%;
	}

	.right {
		float:right;
		position:relative;
	}

	.left {
		float:left;
		position:relative;
	}

	.subheading{
		background:grey;
		width:100%;
		text-align:center;
		color:white;
		font-size:16px;
		padding-top:5px;
		padding-bottom:5px;
		border-radius:5px;
	}

	.description{
		margin-top:1%;
		font-size:12px;

	}
</style>

<div class="col">
	<div class="invoice-header">
		<img src="https://pay.google.com/about/static/images/social/knowledge_graph_logo.png" width="200px" height="auto"/>
		<h1>Company Name</h1>
		<div class="left">
			<p>Company Name <br/>
			Contact Number <br/>
			Email <br/>
			Website</p>
		</div>
		<div class="right">
			<p>
			Invoice #: 12345 <br/>
			Date: 01 January 2018 <br/>
			</p>
		</div>

	</div> <!-- end invoice header -->

	<div class="col">
		<div class="subheading">Description</div>
		<div class="description">
			<div class="left">Membership Level 1</div>
			<div class="right"> $100 </div>
		</div>
	</div> <!-- end of description -->

	<div class="col" style="margin-top:50px;">
		<div class="left" style="width:50%;">
			Total
		</div>
		<div class="right">
			$100
		</div>
	</div>

</div> <!-- end container -->