
<style type="text/css">

	h1, p, table {
		font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
	}

	#invoice{
		width:700px;
		text-align:center;

	}

	#heading{
		font-size:18px;
		color:#555;
		background:#EEE;
	}

	#heading th{
		padding:5px;
		border-radius:2px;
	}

	#heading tr{
		margin-bottom:10px;
	}

	.alignright{
		text-align: right;
	}

	.alignleft{
		text-align:left;
	}

	table {
		border-collapse: collapse;
	}

	.row{
		border-bottom:1px solid #eee;
	}

	.row td, .row th{
		padding:12px;
	}
</style>

<div>{{logo_image}}</div>
<h1>{{site}}</h1>

<table>
	<tr>
		<td><strong>Invoice #:</strong> <span>{{invoice_code}}</span></td>
	</tr>
	<tr>
		<td><strong>Date:</strong> <span>{{invoice_date}}</span></td>
	</tr>
	<tr>
		<td><strong>Payment Method:</strong> <span>{{payment_method}}</span></td>
	</tr>
</table>
<br/>

<span>{{billing_address}}</span>

<table id="invoice">
	<tr id="heading" class="row">
		<th class="alignleft" colspan="2"><div>Item</div></th>
		<th class="alignright"><span class="alignright"><div>Price</div></span></th>
	</tr>
	<tr class="row">
		<td colspan="2" class="alignleft"><div>{{membership_level}}</div></td>
		<td class="alignright" style="padding-left:0;"><div>{{total}}</div></td>
	</tr>
	<tr  class="alignright row">
		<th colspan="2"><div>Subtotal</div></th>
		<td><div>{{subtotal}}</div></td>
	</tr>
	<tr class="alignright row">
		<th colspan="2"><div>Tax</div></th>
		<td ><div>{{tax}}</div></td>
	</tr>
	<tr class="alignright row">
		<th colspan="2"><div>Total</div></th>
		<th><div>{{total}}</div></th>
	</tr>
</table>